/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 20, 2023, 1:46:53 AM
    Author     : ADMIN
*/
.nav-bar-avatar {
    margin-right: 16px;
    position: relative;
}
.nav-bar-sidemenu {
    display: none;
    position: absolute;
    width: 240px;
    background-color: #f4f4f4;
    border-radius: 8px;
    left: -200px;
    top: 57px;
}
.nav-bar-sidemenu-item {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav-bar-sidemenu-item:hover {
    background-color: #dbdbdb;
    cursor: pointer;
    transition: 1s;
}
.nav-bar-sidemenu a {
    text-decoration: none;
}
.nav-bar-avatar img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%
}
